@import '../variables.scss';

.article {
  @include flex(stretch, left);
  @include gap(100px 32px);
}

.imgBox {
  @include mb(16px);
  // position: relative;

  // .play {
  //   @include width(48px);
  //   position: absolute;
  //   @include bottom(8px);
  //   @include left(8px);
  // }
}

.blogLink {
  composes: blogLink from './parts.scss';
  @include width(412px);
}