@import '../variables.scss';

.default {
  width: 100%;
  @include max-width(1300px, 720px, 100%);
  margin: auto;
  @include p(0, 0, 0 20px);
}

.small {
  composes: default;
  @include max-width(1140px, 720px, 100%);
}