@import '../variables.scss';

.pageTitle {
  font-size: var(--fs32-18);
  @include pb(24px);
  border-bottom: 1px solid $g3;
  text-align: center;
  @include mb(64px);

  &.mb0 {
    margin-bottom: 0;
  }
}